/*Reset basico
 - Elimina margenes y padding por defecto
 - Aplica box-sizing border-box a todos los elementos (incluye padding y border en el ancho y alto total)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Selector de tipo etiqueta*/
body{
    /*Aplicando fuente de Google Fonts: Lexeng*/
    font-family: 'Lexend', sans-serif;
    /*Color de fondo suave (Como de horno recien horneado)*/
    background-color: #FFF7ED;
    /*Color de texto principal*/
    color: #4A2E0A;
}

/* Limitar el ancho y centrar
    - header, main y footer no serán de ancho completo
    - max-width evita que la paágina se vea muy ancha
    - margin auto los coloca al centro del body
*/
header, main, footer {
    width: 100%;
    max-width: 1200px; /*Se puede cambiar a 900, 1000, etc*/
    margin: 0 auto;
}

/*Navbar*/
.nav-principal {
    background-color: #4A2E0A;
    color: white;
    padding: 15px 25px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/*Selector de clase para Menú de navegación*/
.nav-lista{
    list-style: none;
}

/*Estilo de los enlaces del menú*/
.nav-lista a{
    text-decoration: none;
    color: #FFF4E6;
    font-weight: bold;
    transition: .3s;
}

/*Efecto hover en los enlaces del menú*/
.nav-lista a:hover{
    color: #FFD580;
}