/*Reset basico
 - Elimina margenes y padding por defecto
 - Aplica box-sizing border-box a todos los elementos (incluye padding y border en el ancho y alto total)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Selector de tipo etiqueta*/
body{
    /*Aplicando fuente de Google Fonts: Lexeng*/
    font-family: 'Lexend', sans-serif;
    /*Color de fondo suave (Como de horno recien horneado)*/
    background-color: #FFF7ED;
    /*Color de texto principal*/
    color: #4A2E0A;
}

/* Limitar el ancho y centrar
    - header, main y footer no serán de ancho completo
    - max-width evita que la paágina se vea muy ancha
    - margin auto los coloca al centro del body
*/
header, main, footer {
    width: 100%;
    max-width: 1200px; /*Se puede cambiar a 900, 1000, etc*/
    margin: 0 auto;
}

/*Navbar*/
.nav-principal {
    background-color: #4A2E0A;
    color: white;
    padding: 15px 25px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/*Selector de clase para Menú de navegación*/
.nav-lista{
    list-style: none;
}

/*Estilo de los enlaces del menú*/
.nav-lista a{
    text-decoration: none;
    color: #FFF4E6;
    font-weight: bold;
    transition: .3s;
}

/*Efecto hover en los enlaces del menú*/
.nav-lista a:hover{
    color: #FFD580;
}

/*Contenedor del menu*/
.menu-contenedor{
    padding: 20px;
}

/*Tarjeta (card) del producto*/
.producto-tarjeta{
    background: #FFF4E6;
    border: 2px solid #FFD580;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s ease;
    margin: 20px;
    padding: 15px;
}

/*Efecto al pasar el mouse*/
.producto-tarjeta:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

/*Imagen del producto*/
.producto-img{
    width: 100%;
    height: 220px;
    object-fit: contain; /*Ajusta la imagen sin deformarse*/
    background-color: #FFF7ED;
    padding: 10px;
}

/*Titulo del producto*/
.producto-titulo{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

/*Descripcion del producto*/
.producto-descripcion{
    font-size: 14px;
    color: #6B4C1A;
    margin: 10px 15px;
}

/*Precio del producto*/
.producto-precio{
    font-size: 18px;
    font-weight: bold;
    color: #D97706;
    margin-bottom: 10px;
}

/*Boton de comprar*/
.producto-button{
    background: #FFAA33;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 15px;
    font-weight: bold;
}
/*Efecto hover en el boton*/
.producto-button:hover{
    background:#FFC46B;
}

/* Secciones generales */
section{
    padding: 25px;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}

/*Contacto en dos columnas*/