/*Reset basico
 - Elimina margenes y padding por defecto
 - Aplica box-sizing border-box a todos los elementos (incluye padding y border en el ancho y alto total)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Selector de tipo etiqueta*/
body{
    /*Aplicando fuente de Google Fonts: Lexend*/
    font-family: 'Lexend', sans-serif;
    /*Color de fondo suave (Como de horno recien horneado)*/
    background-color: #FFF7ED;
    /*Color de texto principal*/
    color: #4A2E0A;
}

/*Selector para Banner*/
.banner{
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 80vh; /* 80% de la altura de la ventana */
    background-image: url('img/photos/panes.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Limitar el ancho y centrar
    - main no será de ancho completo
    - max-width evita que la página se vea muy ancha
    - margin auto los coloca al centro del body
*/
 main{
    width: 100%;
    max-width: 1200px; /*Se puede cambiar a 900, 1000, etc*/
    margin: 0 auto;
    padding: 40px 20px;
}

.top-banner{
    background-color: #C77D30;  /*Color tipo caramelo*/
    font-family: 'Poppins', sans-serif; /*Fuente Poppins para el banner*/
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #F7EAD0; /*Color crema brillante*/
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

    position: sticky; /*El banner se queda fijo en la parte superior al hacer scroll*/
    top: 0;
    z-index: 1000; /*Para que esté por encima de otros elementos*/
}

/*Navbar*/
.nav-principal {
    background-color: #FFF7ED;
    color: #4A2E0A;
    border-bottom: 1px solid #e2d9cd;
    padding: 15px 25px;
    position: sticky;
    top: 39px;
    z-index: 1000; /*Para que esté por encima de otros elementos*/

    /*Agregando Flexbox*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/*Selector para el titulo de la panaderia*/
.logo {
    font-family: "Tangerine", cursive;  /*Fuente Tangerine para el nombre de la panaderia*/
    font-size: 40px;
    font-weight: bold;
}

/*Selector de clase para Menú de navegación*/
.nav-lista{
    list-style: none;
    /*Agregando flexbox*/
    display: flex;
    gap: 20px;
    align-items: center;
}

/*Estilo de los enlaces del menú*/
.nav-lista a{
    text-decoration: none;
    color: #4A2E0A;
    font-weight: 500; /*Para efecto fino*/
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    position: relative; /*Para efecto de la linea inferior*/
    display: inline-block; /*Permite que el enlace tenga dimensiones propias*/
}

/*Efecto hover en los enlaces del menú*/
.nav-lista a:hover{
    color: #C77D30;
    transform: translateY(-2px);  /*Pequeño efecto de elevación*/
}

/*Linea elegante que aparece al pasar el mouse*/
.nav-lista a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #C77D30;
}

.nav-lista a:hover::after {
    width: 100%;               /* La línea se expande al hacer hover */
}


/*Portada*/
.portada{
    max-width: 1800px;
    width: 100%;
    height: 400px;
    background-color: #FFD580;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Contenedor del menu de productos*/
.menu-contenedor{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/*Tarjeta (card) del producto*/
.producto-tarjeta{
    text-align: center;
    background: #FFF4E6;
    border: 2px solid #FFD580;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s ease;
    /*Para que la badge absoluta se posicione dentro...*/
    position: relative;
    flex: 1 1 240px; /*Flex-grow, flex-shrink, flex-basis*/
}

/*Efecto al pasar el mouse*/
.producto-tarjeta:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

/*Imagen del producto*/
.producto-img{
    width: 100%;
    height: 220px;
    object-fit: contain; /*Ajusta la imagen sin deformarse*/
    background-color: #FFF7ED;
    padding: 10px;
}

/*Titulo del producto*/
.producto-titulo{
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

/*Descripcion del producto*/
.producto-descripcion{
    font-size: 14px;
    color: #6B4C1A;
    margin: 10px 15px;
}

/*Precio del producto*/
.producto-precio{
    font-size: 18px;
    font-weight: bold;
    color: #D97706;
    margin-bottom: 10px;
}

/*Boton de comprar*/
.producto-button{
    background: #FFAA33;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 15px;
    font-weight: bold;
}
/*Efecto hover en el boton*/
.producto-button:hover{
    background:#FFC46B;
}

.producto-badge{
    position: absolute;
    background: #FF5733;
    color: white;
    top: 10px;
    left: 10px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

/* Secciones generales */
section{
    padding: 25px;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}

/*Seccion Equipo/Personas*/
.equipo-section{
    text-align: center;
    padding: 40px 25px;
}

.equipo-section p{
    margin: 0 auto 20px;
    max-width: 700px;
}

.equipo-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.equipo-card{
    background-color: #FFC46B;
    width: 200px;
    padding: 60px 20px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    text-align: center;

    /*Flex interno*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.equipo-foto{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #FFF4E6;

    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}

.equipo-card h3{
    margin-top: 15px;
    color: #a77422;
    font-size: 20px;
}

.equipo-rol{
    font-size: 14px;
    color: #6B4C1A;
    margin: 10px;
}

.equipo-desc{
    font-size: 14px;
    color: #4A2E0A;
    line-height: 1;
}

/*Contacto en dos columnas*/
.contacto-section{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

/*Contenido de la seccion contacto*/
.contacto-contenido,
.contacto-aside{
    flex: 1 1 200px; /*Flex-grow, flex-shrink, flex-basis*/
}

/* Contenedor del aside */
.contacto-aside {
    max-width: 350px;
    margin: 20px auto;
}

/* Formulario */
.contacto-form {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Inputs */
.contacto-input,
.contacto-textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #FFD580;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 12px;
    transition: border .2s ease, box-shadow .2s ease;
}

/* Efecto al seleccionar */
.contacto-input:focus,
.contacto-textarea:focus {
    border-color: #FFAA33;
    box-shadow: 0 0 6px rgba(255,170,51,0.4);
    outline: none;
}

/* Botón */
.contacto-button {
    background: #f3a63b;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
    width: 100%;
}

/* Hover */
.contacto-button:hover {
    background: #fc9506;
}


/*Footer*/
footer{
    background-color: #4A2E0A;
    color: white;
    text-align: center;
    padding: 15px 25px;
    margin-top: 40px;
}
/*Estilo de los enlaces en el footer*/
footer a{
    color: #FFF4E6;
}

/*Boton flotante Position Fixed*/
.carrito-button{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #FFAA33;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    color: white;
    padding: 12px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 1500;
    transition: .2s ease-in-out;
}

.carrito-button:hover{
    background-color: #e99928;
}


/*Diseño resposivo*/
@media screen and (max-width: 1024px){
   
    .nav-principal{
        padding: 12px 16px;
    }

    .producto-tarjeta{
        flex: 1 1 260px;
    }

    .equipo-card{
        width: 260px;
    }
}


@media screen and (max-width: 768px){
    .top-banner{
        font-size: 12px;
        padding: 8px 12px;
    }

    .nav-principal{
        justify-content: center;
        gap: 12px;
        padding: 12px 14px;
    }

    .logo{
        font-size: 28px;
        text-align: center;
        width: 100%;
    }

    .nav-lista{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }
}